.userInfo {
    padding: 0;
    margin-left: 20px;
    /*Прижимаем элемент "div" к верхней стороне родительского элемента.*/
    vertical-align: top;
    /*Делаем этот элемент "inline-block", чтобы прижать его к левой стороне, применив "text-align: left" к их
    родительскому элементу (то есть к ".wholeGitHubSearch" из "UseEffectTheory.module.css").*/
    display: inline-block;
    font-size: 16pt;
}

.userInfo img {
    padding: 0;
    margin-top: 15px;
    width: 300px;
    height: 300px;
    border: black 2px solid;
}