.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

/*Стили для элементов одновременно с классом "pageNumber" и с классом "selectedPage".*/
.pageNumber.selectedPage {
    /*Задаем стиль текста.*/
    font-weight: bold;
    /*Задаем цвет границы.*/
    border-color: black;
}