.chatMessages { /*Стили для элементов с классом "chatMessages".*/
    height: 400px; /*Задаем "height".*/
    overflow-y: auto; /*Устанавливаем отображение содержания блочного элемента по вертикали, если контент целиком не
    помещается и выходит за область сверху или снизу от блока. Вертикальная полоса прокрутки будет добавляться только
    при необходимости.*/
}

.chatMessage { /*Стили для элементов с классом "chatMessage".*/
    padding-bottom: 5px; /*Задаем "paddings".*/
}

.chatMessage img { /*Стили для элементов "img" внутри элементов с классом "chatMessage".*/
    width: 4%; /*Задаем "width".*/
    padding-bottom: 10px;
}

.chatMessageUserName { /*Стили для элементов с классом "chatMessageUsername".*/
    text-decoration: none; /*Отключаем оформление текста внутри элемента, чтобы не было подчеркивания при нажатии на
    ссылку.*/
    font-weight: bold; /*Указываем, чтобы текст был жирным.*/

}

.chatMessageText { /*Стили для элементов с классом "chatMessageText".*/
    padding: 0 2px; /*Задаем "paddings".*/
}