.searchUsersArea {
    padding: 0;
    /*Делаем этот элемент "inline-block", чтобы прижать его к левой стороне, применив "text-align: left" к их
    родительскому элементу (то есть к ".userList" из "UseEffectTheory.module.css").*/
    display: inline-block;
}

.searchUsersAreaInput {
    padding: 0;
    margin-right: 2px;
    width: 200px;
}

.searchUsersAreaButton {
    padding: 0;
    margin-left: 2px;
    width: 50px;
    height: 30px;
}

.searchUsersAreaResetButton {
    padding: 0;
    margin-left: 2px;
    width: 50px;
    height: 30px;
}