.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: yellow;
}

.formSummaryError {
    border: 2px solid red;
    padding: 5px;
    color: red;
}