.formControl.error input, /*Стили для элементов "input" внутри элементов одновременно с классом "formControl" и
с классом "error".*/
.formControl.error textarea { /*И стили для элементов "textarea" внутри элементов одновременно с классом "formControl"
и с классом "error".*/
    border: 2px solid #ae3d39; /*Задаем толщину, стиль и цвет границы.*/
}

.formControl.error span { /*Стили для элементов "span" внутри элементов одновременно с классом "formControl"
и с классом "error".*/
    color: #ae3d39; /*Задаем цвет текста внутри элемента.*/
}

.formSummaryError { /*Стили для элементов с классом "formSummaryError".*/
    border: 2px solid #ae3d39; /*Задаем толщину, стиль и цвет границы.*/
    padding: 5px; /*Задаем paddings.*/
    color: #ae3d39; /*Задаем цвет текста внутри элемента.*/
}