/*Стили для элементов "input" внутри элементов одновременно с классом "formControl" и с классом "error", и стили для
элементов "textarea" внутри элементов одновременно с классом "formControl" и с классом "error".*/
.formControl.error input,
.formControl.error textarea {
    border: 2px solid #ae3d39;
}

/*Стили для элементов "span" внутри элементов одновременно с классом "formControl" и с классом "error".*/
.formControl.error span {
    color: #ae3d39;
}

.formSummaryError {
    border: 2px solid #ae3d39;
    padding: 5px;
    color: #ae3d39;
}