.wholeGame {
    margin-top: 100px;
    margin-right: 190px;
    /*"inline-block" элементы "div" (то есть наши ".playerOneSection", ".playerTwoSection" и ".decreaseAllLivesSection")
    можно центрировать, применив "text-align: center" к их родительскому элементу.*/
    text-align: center;
}

.playerOneSection,
.playerTwoSection,
.decreaseAllLivesSection {
    /*Делаем эти элементы "inline-block", чтобы центрировать их, применив "text-align: center" к их родительскому
    элементу (то есть к ".wholeGame").*/
    display: inline-block;
    /*Это нам нужно, чтобы сделать внутренние элементы "absolute" для выравнивания их внутри родительского элемента.*/
    position: relative;
}

.playerOneSection,
.playerTwoSection {
    border: black 2px solid;
    border-radius: 5px;
    background-color: rgb(188, 188, 240);
    width: 200px;
    height: 200px;
}

.decreaseAllLivesSection {
    margin-left: 10px;
    margin-right: 10px;
    /*Поскольку этот элемент теперь "relative", то сдвигаем его вниз от верхней стороны.*/
    top: 40px;
}

.increasePlayerOneLifeButton,
.increasePlayerTwoLifeButton,
.decreaseAllLivesButton {
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

.playerOneName,
.playerTwoName,
.playerOneLife,
.playerTwoLife {
    border: black 1px solid;
    border-radius: 5px;
}

.playerOneName,
.playerTwoName,
.playerOneLife,
.playerTwoLife,
.increasePlayerOneLifeSection,
.increasePlayerTwoLifeSection {
    width: 80px;
    height: 30px;
    /*Поскольку родительские элементы теперь "relative", то мы можем сделать эти элементы "absolute" для выравнивания их
    внутри родительских элементов.*/
    position: absolute;
    /*Сдвигаем эти элементы от левой стороны.*/
    left: 30%;
    /*Это нужно для выравнивания текста вертикально по центру в дочерних элементах "span".*/
    line-height: 22px;
}

.playerOneName,
.playerTwoName {
    /*Сдвигаем эти элементы от верхней стороны.*/
    top: 10px;
}

.playerOneLife,
.playerTwoLife {
    /*Сдвигаем эти элементы от верхней стороны.*/
    top: 42.5%;
}

.increasePlayerOneLifeSection,
.increasePlayerTwoLifeSection {
    /*Сдвигаем эти элементы от нижней стороны.*/
    bottom: 10px;
}

.playerOneName span,
.playerTwoName span,
.playerOneLife span,
.playerTwoLife span,
.increasePlayerOneLifeSection span,
.increasePlayerTwoLifeSection span {
    /*Это нужно для выравнивания текста вертикально по центру.*/
    vertical-align: middle;
    font-weight: bold;
}