div .header { /*Стили для элементов с классом "header".*/
    padding: 0px 300px; /*Задаем "paddings" для сужения хэдера слева и права.*/
}

.header img { /*Стили для элементов "img" внутри элементов с классом "header".*/
    display: block; /*Это блочный элемент.*/
    max-height: 64px; /*Указываем максимальную высоту элемента.*/
    cursor: pointer; /*Меняем вид курсора при наведении на элемент.*/
    image-rendering: -webkit-optimize-contrast; /*Это немного убирает размытие на изображения в Google Chrome.*/
}