.header { /*Стили для элементов с классом "header".*/
    grid-area: h; /*Задаем псевдоним для "Header" в grid.*/
    background-color: green; /*Задаем цвет заднего фона.*/
}

.header img { /*Стили для элементов "img" внутри элементов с классом "header".*/
    width: 60px; /*Задаем width.*/
    height: 100%; /*Задаем height.*/
}

.loginBlock { /*Стили для элементов с классом "loginBlock".*/
    float: right; /*Сдвигаем элемент максимально вправо.*/
}

.loginBlock a { /*Стили для элементов "a" внутри элементов с классом "loginBlock".*/
    color: white; /*Задаем цвет текста внутри элемента.*/
}