/*Стили для элементов с классом "header" внутри элементов "div".*/
div .header {
    padding: 0 300px;
}

/*Стили для элементов "img" внутри элементов с классом "header".*/
.header img {
    /*Это блочный элемент.*/
    display: block;
    max-height: 64px;
    /*Меняем вид курсора при наведении на элемент.*/
    cursor: pointer;
    /*Это немного убирает размытие на изображения в Google Chrome. Значение "-webkit-optimize-contrast" - это
    нестандартное значение, которое использовалось в старых версиях WebKit-браузеров (например, в Safari). Оно не
    является частью стандарта CSS, и его использование может привести к непредсказуемому поведению в других браузерах.*/
    image-rendering: -webkit-optimize-contrast;
}