.wholeGame {
    margin-top: 100px; /*Делаем margin от верхней стороны.*/
    margin-right: 190px; /*Делаем margin от правой стороны.*/

    text-align: center; /*"inline-block" элементы "div" (то есть наши ".playerOneSection", ".playerTwoSection" и
    ".decreaseAllLivesSection") можно центрировать, применив "text-align: center" к их родительскому элементу.*/
}

.playerOneSection,
.playerTwoSection,
.decreaseAllLivesSection {
    display: inline-block; /*Делаем эти элементы "inline-block", чтобы центрировать их, применив "text-align: center" к
    их родительскому элементу (то есть к ".wholeGame").*/

    position: relative; /*Это нам нужно, чтобы сделать внутренние элементы "absolute" для выравнивания их внутри
    родительского элемента.*/
}

.playerOneSection,
.playerTwoSection {
    border: black 2px solid; /*Задаем толщину, стиль и цвет границы.*/
    border-radius: 5px; /*Задаем радиус скругления уголков рамки.*/
    background-color: rgb(188, 188, 240); /*Задаем цвет заднего фона.*/

    width: 200px; /*Задаем width.*/
    height: 200px; /*Задаем height.*/
}

.decreaseAllLivesSection {
    margin-left: 10px; /*Делаем margin от левой стороны.*/
    margin-right: 10px; /*Делаем margin от правой стороны.*/

    top: 40px; /*Поскольку этот элемент теперь "relative", то сдвигаем его вних от верхней стороны.*/
}

.increasePlayerOneLifeButton,
.increasePlayerTwoLifeButton,
.decreaseAllLivesButton {
    border-radius: 5px; /*Задаем радиус скругления уголков рамки.*/

    width: 80px; /*Задаем width.*/
    height: 30px; /*Задаем height.*/
}

.playerOneName,
.playerTwoName,
.playerOneLife,
.playerTwoLife {
    border: black 1px solid; /*Задаем толщину, стиль и цвет границы.*/
    border-radius: 5px; /*Задаем радиус скругления уголков рамки.*/
}

.playerOneName,
.playerTwoName,
.playerOneLife,
.playerTwoLife,
.increasePlayerOneLifeSection,
.increasePlayerTwoLifeSection {
    width: 80px; /*Задаем width.*/
    height: 30px; /*Задаем height.*/

    position: absolute; /*Поскольку родительские элементы теперь "relative", то мы можем сделать эти элементы "absolute"
    для выравнивания их внутри родительских элементов.*/
    left: 30%; /*Сдвигаем эти элементы от левой стороны.*/

    line-height: 22px; /*Это нужно для выравнивания текста вертикально по центру в дочерних элементах "span".*/
}

.playerOneName,
.playerTwoName {
    top: 10px; /*Сдвигаем эти элементы от верхней стороны.*/
}

.playerOneLife,
.playerTwoLife {
    top: 42.5%; /*Сдвигаем эти элементы от верхней стороны.*/
}

.increasePlayerOneLifeSection,
.increasePlayerTwoLifeSection {
    bottom: 10px; /*Сдвигаем эти элементы от нижней стороны.*/
}

.playerOneName span,
.playerTwoName span,
.playerOneLife span,
.playerTwoLife span,
.increasePlayerOneLifeSection span,
.increasePlayerTwoLifeSection span {
    vertical-align: middle; /*Это нужно для выравнивания текста вертикально по центру.*/

    font-weight: bold; /*Делаем шрифт жирным.*/
}