.descriptionBlock {
    padding: 10px;
}

.profileImage img {
    width: 65%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.userPhoto {
    max-width: 200px;
}