.descriptionBlock {
    padding: 10px;
}

/*Стили для элементов "img" внутри элементов с классом "profileImage".*/
.profileImage img {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    image-rendering: -webkit-optimize-contrast; /*Это немного убирает размытие на изображения в Google Chrome.*/
}

.userPhoto {
    max-width: 200px;
}

.contact {
    padding-left: 10px;
}