.item { /*Стили для элементов с классом "item".*/
    color: greenyellow; /*Задаем цвет текста внутри элемента.*/
}

.item img { /*Стили для элементов "img" внутри элементов с классом "item".*/
    width: 50px; /*Задаем width.*/
    height: 50px; /*Задаем height.*/
    border-radius: 30px; /*Задаем радиус скругления уголков рамки.*/
}