body {
    /*Добавляем везде полосу прокрутки, чтобы не было сдвигов содержания при ее появлении и исчезновении.*/
    overflow-y: scroll;
}

.main-content {
    /*Для элементов с классом "main-content" устанавливаем "padding" для сужения основного содержания слева и права и
    для установления расстояния между хэдером и основным содержанием.*/
    padding: 24px 300px
}

.actual-content {
    /*Для элементов с классом "actual-content" (основной контент приложения) устанавливаем "padding" для установления
    расстояния между навигационным меню и основным содержанием.*/
    padding: 0 24px;
    /*Для элементов с классом "actual-content" (основной контент приложения) устанавливаем, что их минимальная высота
    должна быть равна "80vh".*/
    min-height: 80vh;
}

.main-footer {
    /*Устанавливаем для элементов с классом "main-footer", чтобы текст внутри выравнивался по центру.*/
    text-align: center;
}