.app-wrapper {
    display: grid;
    width: 1200px;
    margin: auto;
    grid-template-areas: "h h" "n c";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: cornflowerblue;
}