.dialogs {
    /*Это grid-элементы. Здесь мы не используем псевдонимы для частей сетки, поэтому будет автоматическое разделение на
    три столбца, как указано в "grid-template-columns" ниже. Первый столбец будет списком диалогов, второй - исходящие
    сообщения в каком-либо диалогов, третий - входящие сообщения в каком-либо диалоге.*/
    display: grid;
    /*Первый столбец занимает 2/12 от ширины, а второй и третий столбцы по 5/12 от ширины.*/
    grid-template-columns: 2fr 5fr 5fr;
}

.dialogsItems {
    background-color: lemonchiffon;
    padding: 10px;
}

/*Стили для элементов "a" внутри элементов с классом "dialogsItems".*/
.dialogsItems a {
    text-decoration: none;
}

/*Стили для элементов с классом "active" внутри элементов с классом "dialogsItems".*/
.dialogsItems .active {
    color: #793192;
}

/*Стили для элементов "img" внутри элементов с классом "dialog".*/
.dialog img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.messages {
    background-color: floralwhite;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.incomingMessages {
    background-color: antiquewhite;
    /*Задаем выравнивание текста по правой стороне.*/
    text-align: right;
    padding: 10px;
}

/*Стили для элементов "img" внутри элементов с классом "messages" или внутри элементов с классом "incomingMessages".*/
.messages img, .incomingMessages img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

/*Стили для элементов с классом "message" или для элементов с классом "incomingMessage".*/
.message, .incomingMessage {
    min-height: 40px;
    border: 1px outset #8c8888;
}