.sidebar {
    display: inline-block;
    padding: 5px;
    text-align: center;
}

.sidebar img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.sidebar .active{
    color: gold;
}

.sidebar a {
    text-decoration: none;
    color: firebrick;
}