.sidebar { /*Стили для элементов с классом "sidebar".*/
    display: inline-block; /*Это встроенный "inline" элемент, а его внутренняя часть блочная "block".*/
    padding: 5px; /*Задаем paddings.*/
    margin-left: 15px; /*Задаем margins.*/
    text-align: center; /*Задаем выравнивание текста по центру.*/
}

.sidebar img { /*Стили для элементов "img" внутри элементов с классом "sidebar".*/
    width: 30px; /*Задаем width.*/
    height: 30px; /*Задаем height.*/
    border-radius: 30px; /*Задаем радиус скругления уголков рамки.*/
}

.sidebar .active{ /*Стили для элементов с классом "active" внутри элементов с классом "sidebar".*/
    color: #793192; /*Задаем цвет текста внутри элемента.*/
}

.sidebar a { /*Стили для элементов "a" внутри элементов с классом "sidebar".*/
    text-decoration: none; /*Отключаем оформление текста внутри элемента, чтобы не было подчеркивания при
    нажатии на ссылку.*/
    line-height: 14px; /*Устанавливаем межстрочный интервал текста, отсчет ведется от базовой линии шрифта.*/
}